fastapi[standard]
clr_loader
annotated-types
anyio
certifi
cffi
charset-normalizer
click
colorama
cryptography
et_xmlfile
gunicorn
h11
idna
msal
openpyxl
packaging
pyadomd
pycparser
pydantic
pydantic_core
PyJWT
python-dotenv
pythonnet
requests
sniffio
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
